# ignore any files beginning with .
#\.*

# and any files in the cache directory
www/assets/cache/*

# except do not ignore .gitignore
!.gitignore

.idea
www/assets/.thumbs/images/
gitlab-ci.yml
www/old/*
ht.access
sample-robots.txt
www/install/*
www/docs/*
.deprecated
.DS_Store
._.DS_Store
www_/
.backup
.tmp
www/assets/*.pageCache.php
.DS_Store
.idea
node_modules/
bower_components/
typings
typings/
.sass-cache
logs/*
.tmp/*
.static
.static/*
www/assets/cache/
www/assets/.thumbs/
_tmp/*
# bin
*.exe
*.zip
*.tar
*.tar.gz
npm-debug.log
out
jsdoc
.deprecated
build/
yaspeller_report.html
#dist/
.snippets
.demo-gulp
*.log

!.gitkeep
.vscode/

.npmrc
.editorconfig
